@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Bitter);
body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: 'Lato', sans-serif;
    color: #202020;
}
h1 {
    font-family: 'Bitter', serif;
    position: absolute;
    z-index: 200;
    color: #f0f9e8;
    display: inline-block;
    letter-spacing: .2em;
    font-size: 2.5em;
    top: -15px;
    left: 15px;
    text-shadow: 2px 2px 0 #282828, 4px 4px 0 #43a2ca;
}
h2 {
    display: inline-block;
}
h3 {
    font-size: 1.1em;   
}
#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
    z-index: 100;
    background: #202020;
}
button {
    padding: 0 6px;   
}
p {
    font-size: 1em;
    color: #001323;
}
.hexbin-hexagon {
    stroke: #000;
    stroke-width: 1px;
}
#ui {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 200;
    background-color:rgba(40,40,40,0.8);
    display: inline-block;
    padding: 8px 15px;
    border-radius: 6px;
    border: 1px grey solid;
    transition: right .5s;
    display: none; /* initially hide until populated */
}
#ui.open{
    right: 15px;
}
#ui label {
    color: white;  
    float: right;
    font-size: .9em;
}
#ui select {
    margin: 6px 0;
    float: right;
    font-size: 1.1em;
}
#brew, #normalize {
    font-size: .9em;   
}
#output {
    width: 100%;
    max-height: 450px;
    overflow-y: scroll;
    color: white;
    border-radius: 3px;
    z-index: 200;
}
#output ul {
    list-style-type: none;   
    padding: 0;
}
#output li {
    line-height: 1.5em;
    font-size: .7em;
    text-align: right;
}
.legend {
    display: none;   /* initially hide for fadeIn */
    max-width: 180px;
}
.legend, .stats {
    padding: 6px 8px;
    font-size: 1em;
    color: whitesmoke;
    background-color:rgba(40,40,40,0.8);
    padding: 8px 15px;
    border-radius: 6px;
    border: 1px grey solid;
}
.stats {
    position: absolute;
    z-index: 200;
    width:auto;
}
.stats h3 {
    padding: 0;
    margin: 10px 0 0;
}
.stats ul, .cities ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
}
.cities {
    bottom: 15px;
    right: 15px;
    max-height: 500px;
    overflow-y: scroll;
}
.legend h3 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.6em;
    color: whitesmoke;
    margin: 0;
    max-width: 180px;
}
.legend ul {
    padding: 0;
}
.legend li {
    list-style-type: none;
    margin: 6px 0;
}
.legend ul span {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
.highly-likely {
    color: #b2182b;
}
.highly-unlikely {
    color: #2166ac;
}
.hex-wrapper {
    text-align: center;
    margin: 20px;
    position: relative;
    display: inline-block;
}
.hex {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
    background-color: #39D; 
}
.hex:before {
    position: absolute;
    top: 0;
    right: 10;
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}
.hex:after {
    position: absolute;
    top: 0;
    right: 10;
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

#ui img.settings {
    position: absolute;
    top: -1px;
    left: -40px;
    padding: 6px 5px;
    font-size: 1em;
    background-color:rgba(40,40,40,0.8);
    border-radius: 4px;
    border: 1px grey solid;
    fill: '#fff';
    transition: opacity .5s;
    cursor: pointer;
}
#ui img.settings:hover {
    fill: 'whitesmoke'
}
#ui img.open {
    opacity: 0;   
}
#ui img.close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}